ENVIRONMENT=dev
OPENROUTER_API_KEY=sk-or-...
RECIPE_API_KEY=rapi_...
COGNITO_USER_POOL_ID=eu-west-2_XXXXXXXX
COGNITO_APP_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXX
S3_RECEIPTS_BUCKET=glean-receipts-dev
LLM_MODEL_POLICY_OVERRIDES={}
GLEAN_EVAL_MODEL=
GLEAN_JUDGE_MODEL=
RECEIPT_OCR_MODE=textract
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=glean
LANGSMITH_ENDPOINT=
LANGCHAIN_CALLBACKS_BACKGROUND=false
